<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="EchoSettings" value="false" />
    <add key="ErrorFile" value="" />
    <add key="IgnoreFolderPattern" value="\W|^_|^common$|^include$|^master$|^shared$'" />
    <add key="InputFolder" value="Input" />
    <add key="KeepComments" value="false" />
    <add key="KeepStyleElements" value="false" />
    <add key="KeepIdAndClassAttributes" value="false" />
    <add key="LogFile" value="" />
    <add key="MasterFileExtension" value=".xslt" />
    <add key="MasterFileName" value="Master" />
    <add key="MasterFolder" value="" />
    <add key="NoInlineCss" value="false" />
    <add key="NotInlineStyle" value="#IgnoreInline" />
    <add key="NoOutput" value="false" />
    <add key="NoTidy" value="false" />
    <add key="NoWarnings" value="false" />
    <add key="OutputFolder" value="Output" />
    <add key="OutputFileExtension" value=".html" />
    <add key="Quiet" value="false" />
    <add key="SaveTempFiles" value="true" />
    <add key="StopOnError" value="false" />
    <add key="TempFolder" value="Temp" />
    <add key="TemplateFileExtension" value=".xml" />
    <add key="Verbose" value="false" />
    <add key="XhtmlOutput" value="false" />
    <add key="Substitutions" value="©=&amp;copy;|®=&amp;reg;|™=&amp;trade;"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encoding.CodePages" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>