<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<appSettings>
		<add key="EchoSettings" value="false"/>		
		<add key="ErrorFile" value=""/>
		<add key="IgnoreFolderPattern" value="\W|^_|^common$|^include$|^master$|^shared$'"/>
		<add key="InputFolder" value="Input"/>
		<add key="KeepComments" value="false"/>
		<add key="KeepIdAndClassAttributes" value="false"/>
		<add key="KeepStyleElelments" value="false"/>
		<add key="LogFile" value=""/>
		<add key="MasterFileExtension" value=".xslt"/>
		<add key="MasterFileName" value="Master"/>
		<add key="MasterFolder" value=""/>
		<add key="NoInlineCss" value="false"/>		
		<add key="NotInlineStyle" value="#IgnoreInline"/>		
		<add key="NoOutput" value="false"/>		
		<add key="NoTidy" value="false"/>		
		<add key="NoWarnings" value="false"/>
		<add key="OutputFolder" value="Output"/>		
		<add key="OutputFileExtension" value=".html"/>
		<add key="Quiet" value="false"/>
		<add key="SaveTempFiles" value="false"/>
		<add key="StopOnError" value="false"/>
		<add key="TempFolder" value=""/>
		<add key="TemplateFileExtension" value=".xml"/>
		<add key="Verbose" value="false"/>
		<add key="XhtmlOutput" value="false"/>
	</appSettings>
</configuration>